# Assignment 1.1

# Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [61]:
import numpy as np
import pandas as pd

In [62]:
# np.random.seed(42)

In [63]:
data=np.random.rand(4,4)

In [64]:
df = pd.DataFrame(data,columns=['feature1','feature2','feature3','feature4'])
df

   feature1  feature2  feature3  feature4
0  0.895523  0.389202  0.010838  0.905382
1  0.091287  0.319314  0.950062  0.950607
2  0.573438  0.631837  0.448446  0.293211
3  0.328665  0.672518  0.752375  0.791579

# Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [65]:
df.rename(columns={'feature1':'Random value 1','feature2':'Random value 2','feature3':'Random value 3','feature4':'Random value 4'},inplace = True)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.895523        0.389202        0.010838        0.905382
1        0.091287        0.319314        0.950062        0.950607
2        0.573438        0.631837        0.448446        0.293211
3        0.328665        0.672518        0.752375        0.791579

# Find the descriptive statistics of the 'df' dataframe.

In [66]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.472228        0.503218        0.540430        0.735195
std          0.344068        0.175144        0.408921        0.302156
min          0.091287        0.319314        0.010838        0.293211
25%          0.269320        0.371730        0.339044        0.666987
50%          0.451051        0.510519        0.600410        0.848481
75%          0.653959        0.642008        0.801796        0.916688
max          0.895523        0.672518        0.950062        0.950607

# Check for the null values in 'df' and find the data type of the columns.

In [67]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [68]:
type(df.isnull().any())

pandas.core.series.Series

# Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [69]:
df['Random value 2']

0    0.389202
1    0.319314
2    0.631837
3    0.672518
Name: Random value 2, dtype: float64

In [70]:
df['Random value 3']

0    0.010838
1    0.950062
2    0.448446
3    0.752375
Name: Random value 3, dtype: float64

In [71]:
df.loc[:,['Random value 2','Random value 3']] #location method

   Random value 2  Random value 3
0        0.389202        0.010838
1        0.319314        0.950062
2        0.631837        0.448446
3        0.672518        0.752375

In [72]:
df.iloc[:,[1,2]] # indexing location method

   Random value 2  Random value 3
0        0.389202        0.010838
1        0.319314        0.950062
2        0.631837        0.448446
3        0.672518        0.752375

# Assignment 1.2

# Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [73]:
import numpy as np
import pandas as pd

In [74]:
data = np.random.rand(10,5)
data

array([[0.78961814, 0.0912061 , 0.4944203 , 0.05755876, 0.54952888],
       [0.4415305 , 0.88770418, 0.35091501, 0.11706702, 0.14299168],
       [0.76151063, 0.61821806, 0.10112268, 0.08410681, 0.70096913],
       [0.07276301, 0.82186006, 0.70624223, 0.08134878, 0.08483771],
       [0.98663958, 0.3742708 , 0.37064215, 0.81279957, 0.94724858],
       [0.98600106, 0.75337819, 0.37625959, 0.08350072, 0.77714692],
       [0.55840425, 0.42422201, 0.90635439, 0.11119748, 0.4926251 ],
       [0.01135364, 0.46866064, 0.05630328, 0.11881792, 0.11752625],
       [0.6492103 , 0.74604488, 0.58336877, 0.96217255, 0.37487058],
       [0.28571209, 0.86859913, 0.22359584, 0.96322254, 0.01215447]])

In [75]:
df = pd.DataFrame(data,columns=['feature1','feature2','feature3','feature4','feature5'])
df

   feature1  feature2  feature3  feature4  feature5
0  0.789618  0.091206  0.494420  0.057559  0.549529
1  0.441531  0.887704  0.350915  0.117067  0.142992
2  0.761511  0.618218  0.101123  0.084107  0.700969
3  0.072763  0.821860  0.706242  0.081349  0.084838
4  0.986640  0.374271  0.370642  0.812800  0.947249
5  0.986001  0.753378  0.376260  0.083501  0.777147
6  0.558404  0.424222  0.906354  0.111197  0.492625
7  0.011354  0.468661  0.056303  0.118818  0.117526
8  0.649210  0.746045  0.583369  0.962173  0.374871
9  0.285712  0.868599  0.223596  0.963223  0.012154

# Task- 2 Check the info of 'df'

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   feature1  10 non-null     float64
 1   feature2  10 non-null     float64
 2   feature3  10 non-null     float64
 3   feature4  10 non-null     float64
 4   feature5  10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes

# Task 3- Check the descriptive statistics of 'df'

In [77]:
df.describe()

        feature1   feature2   feature3   feature4   feature5
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.554274   0.605416   0.416922   0.339179   0.419990
std     0.348352   0.259702   0.265050   0.398324   0.325828
min     0.011354   0.091206   0.056303   0.057559   0.012154
25%     0.324667   0.435332   0.255426   0.083652   0.123893
50%     0.603807   0.682131   0.373451   0.114132   0.433748
75%     0.782591   0.804740   0.561132   0.639304   0.663109
max     0.986640   0.887704   0.906354   0.963223   0.947249

# Task 4- check the 4th index observation with 'loc' slicing operator.

In [78]:
df

   feature1  feature2  feature3  feature4  feature5
0  0.789618  0.091206  0.494420  0.057559  0.549529
1  0.441531  0.887704  0.350915  0.117067  0.142992
2  0.761511  0.618218  0.101123  0.084107  0.700969
3  0.072763  0.821860  0.706242  0.081349  0.084838
4  0.986640  0.374271  0.370642  0.812800  0.947249
5  0.986001  0.753378  0.376260  0.083501  0.777147
6  0.558404  0.424222  0.906354  0.111197  0.492625
7  0.011354  0.468661  0.056303  0.118818  0.117526
8  0.649210  0.746045  0.583369  0.962173  0.374871
9  0.285712  0.868599  0.223596  0.963223  0.012154

In [79]:
df.loc[4,:]

feature1    0.986640
feature2    0.374271
feature3    0.370642
feature4    0.812800
feature5    0.947249
Name: 4, dtype: float64

# Task 5 - Check the null values in your 'df'

In [80]:
df.isnull().any()

feature1    False
feature2    False
feature3    False
feature4    False
feature5    False
dtype: bool